<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
        photoCover="https://www.dwinawan.com/blog/thumb_article41.jpg" 
        cardDate="Domingo 02 de Janeiro 2024"
        cardTitle="Title"
        cardDescription="Descrição"
        >
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>